# McFacts Specific Output files
m1m2.png
merger_mass_v_radius.png
q_chi_eff.png
time_of_merger.png
merger_remnant_mass.png
gw_strain.png
r_chi_p.png
mergers_cdf*.png
mergers_nal*.png
*nohup.out
run*

# Operating System Files
.DS_Store
*.DS_Store


# Python Compiled, Distribution, Packaging
__pycache__/
*.py[cod]
*$py.class
*.dat
*.log
*.swp
*.eggs
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt


# Code Editors
*.idea
.vscode/


# Jupyter Notebook
.ipynb_checkpoints


# IPython
profile_default/
ipython_config.py


# Unit Testing
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/